div.header {
}

body {
}

div.footer {
}

body h1 {
  font: bold italic 2em/1em "Times New Roman", "MS Serif", "New York", serif;
  color: inherit;
  background-color: #000000;
  padding-left: 40px;
  margin-bottom: -5px;
}

div.p1 {
  background-color: #111111;
  border-left: 1px solid #444444;
  border-top: 1px solid #444444;
  border-bottom: 1px solid black;
  margin-left: 20px;
  padding-left: 20px;
  margin-right: -8px;
}


a img{ border: 0; }
body {
  color: grey;
  background-color: black;
}

div.header {
  border: 1px solid #4682B4;
  background-color: #222222;
/*
  Mozilla/Firefox-based browsers only, since there's no proper standard for this.
  I'll be damned if I'm going to screw around with the "solutions" for rounded corners.  Hackish nested divs, images and javascript?  No way.
  Besides, everyone else simply ignores these tags and displays a "good enough" normal corner.  No harm done.
*/
  -moz-border-radius: 10px;
  -moz-padding-start: 30px;
}
